.contract-section {
  padding: 16px 0 25px 0;
}

.contract__content {
  display: flex;
  gap: 20px;
}

.contract-crumb {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 20px;
}

.contract__crumb-item {
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  color: black;
}

.contract__left {
  width: 100%;
}

.contract__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 29.05px;
  padding: 12px 14px 4px 14px;
  border-bottom: 1px solid black;
  span {
    font-weight: 600;
    text-decoration: underline;
  }
}

.contract__items {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 520px;
  margin-top: 16px;
}

.contract-item {
  display: flex;
  justify-content: space-between;
}

.contract-item__left {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.contract-item__btn {
  width: 220px;
  padding: 4px 8px;
  display: flex;
  justify-content: space-between;
  background: rgba(240, 239, 239, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  img {
    transform: rotate(180deg);
  }
}

.contract-item__add-btn {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  display: flex;
  gap: 8px;
  padding: 8px;
  background: rgba(243, 243, 243, 1);
  width: 100%;
}

.contract__add-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  padding: 16px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 1);
  margin-top: 32px;
  text-align: left;
}

.contract-section {
  padding: 16px 0 25px 0;
}

.contract-crumb {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 20px;
}

.contract__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  color: black;
}

.contract-item.block {
  padding: 16px 0;
}

.contract-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 32px;
  border: 1px solid rgba(0, 0, 0, 1);
  padding: 16px;
  &__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__title-additionally {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
  }

  &__title-img {
    background: rgba(210, 241, 212, 1);
    width: 16px;
    height: 16px;
    padding: 2px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
  }

  &__btn {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    padding: 4px 8px;
    background: rgba(239, 239, 239, 1);
    outline: none;
    display: flex;
    gap: 8px;
  }

  &__wrap,
  &__operation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(213, 213, 213, 1);
    padding: 6.5px 8px;
  }

  &__wrap img,
  &__operation img,
  &__name img {
    cursor: pointer;
  }

  &__operation {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    padding-left: 52px;
  }

  &__add-product,
  &__add-dress,
  &__add-order {
    display: flex;
    align-items: center;
    background: rgba(213, 213, 213, 1);
    padding: 6.5px 8px;
    gap: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
  }

  &__add-product {
    margin-left: 104px;
  }

  &__add-dress {
    margin-left: 52px;
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__status {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: white;
  }

  &__left,
  &__name {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__name {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
  }

  &__operations {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 156px;
  }

  &__addionational {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    img {
      cursor: pointer;
    }
  }
  &__item-top {
    background: rgba(213, 213, 213, 1);
    padding: 6.5px 8px 6.5px 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    &__dress {
      margin-left: 52px;
      background: rgba(213, 213, 213, 1);
      padding: 6.5px 8px 6.5px 52px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
    }
  }

  &__item-left {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__item-operation {
    background: rgba(213, 213, 213, 1);
    padding: 6.5px 8px 6.5px 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 104px;
    cursor: pointer;
  }
  &__item-product {
    background: rgba(213, 213, 213, 1);
    padding: 6.5px 8px 6.5px 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    margin-left: 52px;
    img {
      width: 16px;
    }
  }
}
.info-header {
  padding: 16px 0 0 0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  &__item {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  &__item-left {
    display: flex;
    gap: 4px;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
  }

  &__sort-icon {
    width: 12px;
  }

  &__right {
    display: flex;
    gap: 125px;
    margin-right: -52px;
  }
}

.contract-block-title__right {
  display: flex;
  gap: 8px;
}

.contract-block-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__left {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__btn {
    display: flex;
    gap: 8px;
    background: rgba(239, 239, 239, 1);
    padding: 4px 8px;
    border-radius: 4px;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    font-family: "Inter", sans-serif;
  }
  &__btn.active {
    border: 1px solid rgba(0, 0, 0, 1);
  }
  &__right {
    display: flex;
    gap: 8px;
  }
  &__icons-btn {
    padding: 4px 8px;
    background: rgba(239, 239, 239, 1);
    border-radius: 4px;
  }

  &__input-wrap {
    display: flex;
    gap: 8px;
    border-radius: 4px;
    padding: 4px 8px;
    background: rgba(239, 239, 239, 1);
  }

  &__input {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    background: rgba(239, 239, 239, 1);
  }
  &__input::placeholder {
    color: black;
  }
}

.contract-addionational__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(213, 213, 213, 1);
  padding: 6.5px 8px;
}

.contract-addionational__block img {
  cursor: pointer;
}

.contract-addionational__block.first {
  margin-left: 52px;
  padding-left: 52px;
}

.contract-addionational__block.second {
  margin-left: 104px;
  padding-left: 52px;
}

.contract__add-btn-dress {
  margin-top: 32px;
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 1);
  width: 100%;
  &__content {
    padding: 6.5px 8px;
    width: 100%;
    background: rgba(213, 213, 213, 1);
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    gap: 8px;
    img {
      width: 16px;
    }
  }
}

.document-block {
  padding: 16px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 1);
  margin-top: 32px;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
  }

  &__btn {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    padding: 4.5px 8px;
    display: flex;
    gap: 8px;
    align-items: center;
    background: rgba(239, 239, 239, 1);
  }

  &__buttons {
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }

  &__icons-btn {
    padding: 4px 8px;
    background: rgb(239, 239, 239);
    border-radius: 4px;
  }

  &__input-wrap {
    display: flex;
    gap: 8px;
    border-radius: 4px;
    padding: 4px 8px;
    background: rgb(239, 239, 239);
  }
  &__input {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    background: transparent;
  }
  &__input::placeholder {
    color: black;
  }
  &__content {
    display: flex;
    gap: 8px;
    margin-top: 12px;
  }
  &__document {
    height: 200px;
    background: rgba(239, 239, 239, 1);
    min-width: 220px;
    padding: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  &__document-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
  }
  &__document-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
  }
  &__add-document {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    justify-content: space-between;
    width: 100%;
    background: rgba(239, 239, 239, 1);
    border: 1px solid rgba(0, 0, 0, 1);
  }
  &__add-document-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    position: relative;
    span {
      text-decoration: underline;
      cursor: pointer;
    }
    input {
      position: absolute;
      right: -2px;
      width: 131px;
      opacity: 0;
      cursor: pointer;
    }
  }
  &__add-document-desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
  }
}
